#users {
    display: grid;
    /* grid-auto-flow: row; */
    grid-template-columns: repeat(5, 200px);
    
    border: 1px solid black;
    scrollbar-width: auto;
    height: 300px;
    /* width: 250px; */
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#user-card {
    display: flex;
    flex-direction: column;
    border: 2px solid gold;
}
#user-card img {
    height: 20px;
    width: 20px;
}